body {
    text-align: center; 
    margin: auto;
    background-color: #00A19D;
    color:white;
    background-color:#9a875d ;
    background-image: url(../img/background.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    font-family: 'Dosis', sans-serif;
    }

h1{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #9a875d;
    /* color: #CFB784; */
    font-size: 35px;
    width: 500px;
    border: 1px solid white;
    border-radius: 15px;
}
h2{
  margin: auto;
  margin-top: 5px;
  width: 250px;
  border-radius: 10px;
  background-color: #9a875d;;
}

.header{
  margin: auto;
  margin-bottom: 10px;
  /* width: 330px; */
  display: inline-block;
  border: 3px solid white;
  border-radius: 15px;
  background-color: #9a875d;
  color: white;
}

.header td{
  width: 70px;
  height: 30px;
  border-radius: 15px;
  font-size:25px;
  }

  .hearts{
    margin: auto;
    margin-bottom: 20px;
    width: 240px;
    border: 3px solid white;
    border-radius: 15px;
    background-color: #9a875d;
  }
  .hearts td{
    width: 80px;
    height: 40px;
    border-radius: 15px;
    font-size: 30px;
    }

    .test{
      height: 350px;
      position: relative;
    }
    .hints{
      margin: 0;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);

      display: inline-block;
      margin: auto;
      padding: absolute;
      border: 3px solid white;
      border-radius: 15px;
      background-color: #9a875d;
      left: 50px;
      vertical-align: middle;
      height: 250px;

    }
    .hints td{
      
      width: 60px;
      height: 20px;
      border-radius: 15px;
      font-size: 25px;
      cursor: pointer;

      }
      .safe-click{
        margin-top: 20px;
        background-color: lightseagreen;
        color: white;
        border: 1px solid white;

      }
.board-container{
  display: inline-block;

}

.board{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
    /* margin-left: 30px; */
  border: 3px solid white;
  border-radius: 15px;
  background-color: #9a875d;
  color: #620f0f;
  font-weight: bold;
    
  }
  
.cell {
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 15px;
  border: 2px solid white ;
  background-color: #FFF8E5;
  cursor: pointer;
  border-radius: 7px;
}

.level{
      margin: auto;
      margin-top: 20px;
      width: 270px;
      border: 3px solid white;
      border-radius: 15px;
      background-color: #9a875d;
  }
  .level td{
    width: 90px;
    height: 35px;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;

    }

.smiley{
    cursor: pointer;
}

footer{
  background-color: #9a875d;
  font-size: 1.5em;
  width: 350px;
  margin: auto;
  margin-top: 10px;
}